<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card" [appActionCardButton]="'Requested-Appointments1'" style="min-height: 73vh;">
                <div class="card-header">
                    <h1 class="card-title title-h1">Vaccine Appointment Detail</h1>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>
                                                <p><strong>Question</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Anwser</strong></p>
                                            </td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let question of model.VaccineScreeningAnswers; let i=index">
                                            <td>
                                                <p>
                                                    {{question.Question}}
                                                </p>
                                            </td>
                                            <td>
                                                <strong>{{model.VaccineScreeningAnswers[i].Anwser?'Yes':'No' }}</strong>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 text-center">
                        <a [routerLink]="['/management/vaccine-appts']" class="btn btn-green">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>