<!-- <section class="flexbox-container mb-3">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
      <div class="col-md-6">
      <div class="card" style="height:95%;">
        <div class="card-content">
          <div class="row">
          <div class='col-md-12 text-center pt-2 pb-3'>
            <img class="pb-5" src="../../../../../assets/images/logo/prime-logo.png" style="width:300px;" alt="prime">
            <h3 class="pb-5 text-bold-600 pl-2 pr-2" style="color: #105eab;">Providing quality telemedicine to the community with local medical providers.<br><br>
              We take insurances or out of pocket cost is $45/visit.
            </h3>
            <h3 class="text-bold-600 pb-3" style="color: #28D094">MON - SUN: 8AM - 6PM</h3>
            <button class="btn btn-green" (click)="checkRequestAppointment()"
            style="width:290px; font-size: 1.5rem;"> 
              <i class="la la-stethoscope"></i> SEE A PROVIDER NOW</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="height:95%;">
        <div class="card-content">
          <div class="row">
          <div class='col-md-12 text-center pt-2'>
            <h2 class="text-bold-600" style="color: #e76100;text-decoration: underline;">WE ACCEPT:</h2><br><br>
            <img class="pb-2" src="../../../../../assets/images/logo/medicare.jpg" style="width:200px;" alt="medicare">
            <img class="pb-2" src="../../../../../assets/images/logo/Medicaid_not-offocial-logo.jpg" style="width:200px;" alt="medicaid"> <br>
            <h3>Or</h3>
            <h1 class="info text-bold-600">COMMERCIAL INSURANCES</h1>
            <h1>+</h1><br>
            <img class="pb-2" src="../../../../../assets/images/logo/stripesecure3.jpg" style="width: 300px;" alt="stripe">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

      <h1 class="text-center text-bold-600 mt-3 mb-1" style="color: #105eab;">TELEHEALTH PROVIDERS</h1>
      <section id="user-profile-cards" class="row mt-1">
        <div class="col-md-4 col-12">
          <div class="card border-teal border-lighten-2" style="height:95%;">
            <div class="text-center">
              <div class="card-body">
                <img src="../../../../../assets/images/portrait/large/Dr_Liu_2.png" class="rounded-circle  height-150" alt="Card image">
              </div>
              <div class="card-body">
                <h1 class="info text-bold-600">Dr. Jim Liu</h1>
                <h5 class="text-bold-600" style="color:#d4356b;">MD – Internal Medicine, Board Certified</h5>
              </div>
              <div class="card-body">
                <h4>Dr. Liu completed his pre-medical studies at Harvard, and attended medical school and residency at the University of Pittsburgh. 
                  He has been a fellow of the NIH National Heart, Lung, and Blood Institue and is a published researcher in hypertension. </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-teal border-lighten-2" style="height:95%;">
            <div class="text-center">
              <div class="card-body">
                <img src="../../../../../assets/images/portrait/large/Deb_Dooley-removebg-preview-1.png" class="rounded-circle  height-150" alt="Card image">
              </div>
              <div class="card-body">
                <h1 class="info text-bold-600">Deb Dooley</h1>
                <h5 class="text-bold-600" style="color:#d4356b;">MSN, APRN, FNP-BC</h5>
              </div>
              <div class="card-body">
                <h4>Ms. Dooley is originally from New England, and worked 10 years as a nurse and 9 years as a NP in acute and post-acute care, and infectious disease.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-teal border-lighten-2" style="height:95%;">
            <div class="text-center">
              <div class="card-body">
                <img src="../../../../../assets/images/portrait/large/Nicole_Charles-removebg-preview.png" class="rounded-circle  height-150" alt="Card image">
              </div>
              <div class="card-body">
                <h1 class="info text-bold-600">Nicole Charles</h1>
                <h5 class="text-bold-600" style="color:#d4356b;">MSN, APRN, ACNP-BC</h5>
              </div>
              <div class="card-body">
                <h4>Ms. Charles has over 6 years of experience working in primary, acute, and cardiology nurse practitioner.</h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="user-profile-cards" class="row mt-1">
        <div class="col-md-4 col-12">
          <div class="card border-teal border-lighten-2" style="height:95%;">
            <div class="text-center">
              <div class="card-body">
                <img src="../../../../../assets/images/portrait/large/Image-1-removebg-preview-cropped (1).png" class="rounded-circle  height-150" alt="Card image">
              </div>
              <div class="card-body">
                <h1 class="info text-bold-600">Rocio Campbell</h1>
                <h5 class="text-bold-600" style="color:#d4356b;">MSN, APRN, ACNP-BC</h5>
              </div>
              <div class="card-body">
                <h4>Ms. Campbell has over 5 years of experience working in skilled nursing and retirement centers. She is also certified in wound and ostomy care.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card card border-teal border-lighten-2" style="height:95%;">
            <div class="text-center">
              <div class="card-body">
                <img src="../../../../../assets/images/portrait/large/JessicaPicture-removebg-preview-6.png" class="rounded-circle  height-150" alt="Card image">
              </div>
              <div class="card-body">
                <h1 class="info text-bold-600">Jessica Burke</h1>
                <h5 class="text-bold-600" style="color:#d4356b;">MSN, APRN, FNP-BC</h5>
              </div>
              <div class="card-body">
                <h4>Ms. Burke recently moved to Naples after working for 4 years as a registered nurse. She has previous NP experience in hematology & oncology as well as pain management.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-teal border-lighten-2" style="height:95%;">
            <div class="text-center">
              <div class="card-body">
                <img src="../../../../../assets/images/portrait/large/Jackie.jpg" class="rounded-circle  height-150" alt="Card image">
              </div>
              <div class="card-body">
                <h1 class="info text-bold-600">Jaclyn Mason</h1>
                <h5 class="text-bold-600" style="color:#d4356b;">MSN, APRN, FNP-BC</h5>
              </div>
              <div class="card-body">
                <h4>Ms. Mason worked 10 years as a registered nurse and has experience in regulations, guidelines, and compliance.</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div class="text-center">
          <h1 class="pb-1 text-bold-600 text-center" style="color: #105eab;">
            <span>Mon - Sun: 8AM - 6PM</span>
          </h1>
          <button class="btn btn-green" (click)="checkRequestAppointment()"
            style="width:250px;"> 
              <i class="la la-sign-in"></i> SEE A PROVIDER NOW </button>
        </div> 
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-12 col-xl-6">
      <div class="mb-2 mt-2">
        <h4 class="mb-0 text-bold-500"><i class="icon-question blue"></i> FAQs about Portal:</h4>
        <p class="font-small-2">Click on the question to expand the answer.</p>
      </div>
      <div id="accordionWrap1" role="tablist" aria-multiselectable="true">
        <div class="card collapse-icon accordion-icon-rotate">
          <div id="heading11" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion11"
              aria-expanded="false"
              aria-controls="accordion11"
              class="card-title lead"
              >How do I sign up?</a
            >
          </div>
          <div
            id="accordion11"
            role="tabpanel"
            data-parent="#accordionWrap1"
            aria-labelledby="heading11"
            class="collapse"
            aria-expanded="false"
          >
            <div class="card-content">
              <div class="card-body">
                <ol>
                  <li>Visit our website.</li>
                  <li>Set up a username and password.</li>
                  <li>Confirm your email.</li>
                  <li>Fill in the contact information/demographic form.</li>
                </ol>
                <p class="text-bold-600">
                  Once you have a username and password, you can select the
                  doctor of your choice for your virtual visit. Answer a few
                  questions and be connected to a doctor in as little as 3
                  minutes.
                </p>
                <p class="text-bold-600">
                  **Note: all patients are seen in the order in which they
                  scheduled**
                </p>
              </div>
            </div>
          </div>
          <div id="heading12" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion12"
              aria-expanded="false"
              aria-controls="accordion12"
              class="card-title lead collapsed"
              >When should I use Telemedicine?</a
            >
          </div>
          <div
            id="accordion12"
            role="tabpanel"
            data-parent="#accordionWrap1"
            aria-labelledby="heading12"
            class="collapse"
            aria-expanded="false"
          >
            <div class="card-content">
              <div class="card-body">
                <ul class="list-style-square">
                  <li>
                    I want to see a doctor/medical provider but can’t fit it
                    into my schedule.
                  </li>
                  <li>
                    Don’t feel like driving or waiting at the doctors office.
                  </li>
                  <li>
                    My doctor is always busy and I can not wait a couple weeks.
                  </li>
                  <li>
                    I have young kids and can not load them up to make a visit
                    to the doctor.
                  </li>
                  <li>
                    I have an elderly person I give care to, and it is
                    inconvenient to get them to an appointment in a clinic
                    setting.
                  </li>
                  <li>
                    Any non-emergency reason which does not warrant an ER visit.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="heading13" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion13"
              aria-expanded="false"
              aria-controls="accordion13"
              class="card-title lead collapsed"
              >When should I NOT use telemedicine?</a
            >
          </div>
          <div
            id="accordion13"
            role="tabpanel"
            data-parent="#accordionWrap1"
            aria-labelledby="heading13"
            class="collapse"
            aria-expanded="false"
          >
            <div class="card-content">
              <div class="card-body">
                <ul class="list-style-square">
                  <li>
                    Any condition where an in-person exam is required because of
                    severe symptoms, certain protocol-driven procedures, or
                    aggressive interventions. Also, for a medical emergency
                    patients should go to the ER or call 911.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="heading14" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion14"
              aria-expanded="false"
              aria-controls="accordion14"
              class="card-title lead collapsed"
              >How do I add my husband/wife or child?</a
            >
          </div>
          <div
            id="accordion14"
            role="tabpanel"
            data-parent="#accordionWrap1"
            aria-labelledby="heading14"
            class="collapse"
            aria-expanded="false"
            style="height: 0px;"
          >
            <div class="card-content">
              <div class="card-body">
                <p>
                  Your spouse should create a separate account to enroll and you
                  can create an account for a child under the age of 18 but you
                  must be present during all virtual visits.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-6">
      <div class="mb-2 mt-2">
        <h4 class="mb-0 text-bold-500"><i class="icon-question blue"></i> FAQs about Coverage:</h4>
        <p class="font-small-2">Click on the question to expand the answer.</p>
      </div>
      <div id="accordionWrap2" role="tablist" aria-multiselectable="true">
        <div class="card collapse-icon accordion-icon-rotate">
          <div id="heading21" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion21"
              aria-expanded="false"
              aria-controls="accordion21"
              class="card-title lead"
              >Can I use Prime Medical Telemedicine while in another state
              or country?</a
            >
          </div>
          <div
            id="accordion21"
            role="tabpanel"
            data-parent="#accordionWrap2"
            aria-labelledby="heading21"
            class="collapse"
            aria-expanded="false"
          >
            <div class="card-content">
              <div class="card-body">
                Only if you are physically located in the state of Florida.
                Currently telemedicine laws and regulations state that you must
                be in the state of Florida when being seen by a provider
                licensed in the state of Florida. This will change as the laws
                and regulations change so we will keep you posted.
              </div>
            </div>
          </div>
          <div id="heading22" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion22"
              aria-expanded="false"
              aria-controls="accordion22"
              class="card-title lead collapsed"
              >Who are the doctors and medical providers?</a
            >
          </div>
          <div
            id="accordion22"
            role="tabpanel"
            data-parent="#accordionWrap2"
            aria-labelledby="heading22"
            class="collapse"
            aria-expanded="false"
          >
            <div class="card-content">
              <div class="card-body">
                <p>
                  Physicians and medical providers are credentialed with the
                  Prime Medical system. You will never speak with an
                  unfamiliar face. This is the first of its kind telemedicine
                  portal which does not rely on doctors who you do not know or
                  are not a part of your community to aid with your healthcare
                  needs:
                </p>
                <ul class="list-style-square">
                  <li>
                    Have an average of 12 years of experience in primary and
                    urgent care.
                  </li>
                  <li>Are US board certified, licensed, and credentialed.</li>
                  <li>
                    Unique profiles that explain their background and education.
                  </li>
                  <li>Are rated by other patients.</li>
                  <li>Will show you who is online/offline.</li>
                  <li>
                    Doctors and medical providers who you can follow up with in
                    person if needed.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="heading23" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion23"
              aria-expanded="false"
              aria-controls="accordion23"
              class="card-title lead collapsed"
              >What should I do if I have a child over 18 who is still on my
              health insurance?</a
            >
          </div>
          <div
            id="accordion23"
            role="tabpanel"
            data-parent="#accordionWrap2"
            aria-labelledby="heading23"
            class="collapse"
            aria-expanded="false"
          >
            <div class="card-content">
              <div class="card-body">
                <p>
                  While they are still on your health insurance, they are
                  considered an adult. You should create an account for your
                  children and provide specific information for their profile.
                </p>
              </div>
            </div>
          </div>
          <div id="heading24" class="card-header">
            <a
              data-toggle="collapse"
              href="#accordion24"
              aria-expanded="false"
              aria-controls="accordion24"
              class="card-title lead collapsed"
              >Most commonly seen conditions include:</a
            >
          </div>
          <div
            id="accordion24"
            role="tabpanel"
            data-parent="#accordionWrap2"
            aria-labelledby="heading24"
            class="collapse"
            aria-expanded="false"
            style="height: 0px;"
          >
            <div class="card-content">
              <div class="card-body">
                <ul class="list-style-square">
                  <li>Common cold</li>
                  <li>Fever</li>
                  <li>Pink eye</li>
                  <li>Allergies</li>
                  <li>Flu</li>
                  <li>Rash</li>
                  <li>Constipation</li>
                  <li>Headache</li>
                  <li>Respiratory Problems</li>
                  <li>Cough</li>
                  <li>Insect Bites</li>
                  <li>Sore throat</li>
                  <li>Diarrhea</li>
                  <li>Nausea</li>
                  <li>UTI (Females, 18+)</li>
                  <li>Ear Problems</li>
                  <li>Vomiting</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->