<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1" role="dialog" style="top: 1vh !important;">
  <div class="modal-dialog modal-lg" style="max-width: 1000px;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" style="max-height:80vh;overflow: auto;">
             <pdf-viewer [src]="pdfSrc" [render-text]="true" [zoom]="1.3"></pdf-viewer>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green" (click)="generatePDF()" 
         *ngIf="currentUser && currentUser.Role && currentUser.Role !='Patient' && !isView">Generate PDF</button>
        <button type="button" class="btn btn-medical-white" (click)="hide()">Close</button>
      </div>
    </div>
  </div>
</div>