<div class="row clearfix">
    <div class="col-md-12">
        <div class="card" style="min-height: 80vh;">
            <div class="card-content">
                <div class="col-md-12 text-center pt-5 pb-5" *ngIf="
              model &&
              model.AppointmentStatus &&
              model.AppointmentStatus.StatusName == 'Requested'
            " role="alert">
                    <h3 class="text-bold-500">
                        Welcome to your video session!
                    </h3>
                    <br>
                    <h4 *ngIf="totalAppt " class="text-danger text-bold-500">Number of Patient ahead of you :
                        {{totalAppt}}</h4>
                    <br>
                    <h4 class="text-bold-500" style="color: red;" *ngIf="!model.IsOnDemand">Please come back to this
                        screen at your Appointment time
                        {{model.AppointmentTime | date:'MM/dd/yyyy hh:mm a'}}.</h4>
                </div>
                <div class="col-md-12 text-center pt-3" *ngIf="
              model &&
              model.AppointmentStatus &&
              model.AppointmentStatus.StatusName == 'Requested'
            ">
                    <!-- <div *ngIf="isShowEnableCamButton" class="col-md-12 text-center mb-3">
              <button type="button" class="btn btn-danger btn-lg" (click)="enableMicCar()">Enable Camera & Microphone</button>
            </div> -->
                    <h2 class="text-bold-500 text-info" *ngIf="model.IsOnDemand">
                        Please do not exit this screen, a Medical Provider will be with you shortly!
                    </h2>
                    <!-- <img src="../assets/images/loading.gif" width="100" height="100" /> -->
                    <img class="mb-3" src="../../../../../assets/images/logo/AnimatedLogo.gif" alt="Umedoc" width="300">
                    <!-- <div class="loader-wrapper">
              <div class="loader-container">
                <div class="triangle-skew-spin loader-pink">
                  <div></div>
                </div>
              </div>
            </div> -->
                </div>
                <div class="row" *ngIf="
              model &&
              model.AppointmentStatus &&
              model.AppointmentStatus.StatusName == 'InSession'
            ">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <div class="row justify-content-end pt-5">
                                <div class="col-sm-2 col-4 text-center">
                                    <img *ngIf="
                        model.ProviderUser && model.ProviderUser.ProfilePicture
                      " [src]="model.ProviderUser.ProfilePicture" width="100" style="border-radius:50px;" />
                                    <img *ngIf="!model.ProviderUser.ProfilePicture"
                                        src="https://umedoc-prod.s3.amazonaws.com/RandomFiles/umedoc-defaultavatar.png" width="100"
                                        style="border-radius:50px;" />
                                </div>
                                <div class="col-sm-5 col-4 text-center text-sm-left">
                                    <div *ngIf="
                        model.ProviderProfile &&
                        model.ProviderProfile.ProviderDegree &&
                        model.ProviderProfile.ProviderDegree.ImagePath
                      ">
                                        <img [src]="model.ProviderProfile.ProviderDegree.ImagePath"
                                            style="width:60px;" />
                                    </div>
                                    <div *ngIf="model.ProviderProfile">
                                        <label><strong>{{ model.ProviderProfile.NumberOfAppointmentLike }}
                                            </strong></label>
                                        <i class="font-medium-4 icon-line-height la la-star ic"
                                            style="color: #ffc800;"></i>
                                    </div>
                                </div>
                            </div>

                            <h2 class="text-bold-600">
                                <a (click)="viewProfile(model.ProviderID)">
                                    {{ model.ProviderUser.FirstName }}
                                    {{ model.ProviderUser.LastName }}</a>
                            </h2>
                            <div class="text-center" *ngIf="model.ProviderProfile">
                                <div class="badge badge-info">
                                    {{ model.ProviderProfile.ProviderRole.RoleName }}
                                </div>
                            </div>
                            <!-- <div *ngIf="isShowEnableCamButton" class="col-md-12 text-center mt-3 mb-3">
                  <button type="button" class="btn btn-danger btn-lg" (click)="enableMicCar()">Enable Camera & Microphone</button>
                </div> -->
                            <h3 class="text-danger pt-5 pb-1 text-bold-500" *ngIf="!token">
                                Your medical provider is ready! Please click the button below to
                                start your video session.
                            </h3>

                            <div class="form-group row text-center"
                                *ngIf="model && model.AppointmentStatus && model.AppointmentStatus.StatusName == 'InSession'">
                                <div class="col-md-12 text-center" *ngIf="!isJoinCallVideo">
                                    <button type="button" class="btn btn-lg round btn-green white" style="width:200px;"
                                        (click)="joinCallVideo()">
                                        Click Here to Join</button>
                                </div>
                                <div class="col-md-12" *ngIf="isJoinCallVideo">
                                    <app-guest-video-call-frame (onClosed)="onClosed($event)" #videoCall
                                        [appointment]="model" [isJoinCallVideo]="isJoinCallVideo">
                                    </app-guest-video-call-frame>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="
              model &&
              model.AppointmentStatus &&
              (model.AppointmentStatus.StatusName == 'Cancelled' ||
                model.AppointmentStatus.StatusName == 'Completed')
            ">
                    <div class="col-md-12 text-center">
                        <div class="pt-5" *ngIf="model.AppointmentStatus.StatusName == 'Completed'">
                            <h2 class="text-info text-bold-600 pb-2">
                                Your Appointment is over!
                            </h2>
                        </div>
                        <div class="pt-5" *ngIf="model.AppointmentStatus.StatusName == 'Cancelled'">
                            <h2 class="text-danger text-bold-600 pb-2">
                                Your appointment has been cancelled!
                            </h2>
                        </div>
                        <div class="pt-5">
                            <a [routerLink]="['/patient-profile']" class="btn btn-green"><i class="fa fa-home"></i> Go
                                back to your Profile</a>
                        </div>
                        <div class="pt-5">
                            <h3 class="text-bold-600">
                                Keeping your information safe and secure:
                            </h3>
                            <h4>
                                Please remember to log out of your Umedoc account if you are on a shared or public
                                device, <br>and do not let others sign into their accounts through your device.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-provider-profile #modal=""></app-provider-profile>
</div>