<div class="text-center mt-1 mb-2">
  <h2 class="text-bol-600">PAYMENT</h2>
</div>
<form class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
  <div class="content-body">
    <section>
      <div class="row ">
        <div class="col-md-12 text-center">
          <div class="col-md-12" *ngIf="(patientModel)">
            <!-- <p class="lead text-bold-500" style="font-size: 1.5rem;">Insurance</p>
            <hr style="border-top: 1px solid rgba(0, 0, 0, 0.5)"> -->
            <div class="col-md-12 text-center mt-4">
              <div class="col-md-12 text-bold-600" style="font-size: 16px;">
                <p style="color: black;">Do you have Insurance coverage?</p>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <div class="d-inline-block custom-control custom-radio mr-2">
                    <input type="radio" class="custom-control-input" (click)="selectUseInsurance(true)"
                      name="isAddInsurance" [(ngModel)]="isAddInsurance" [value]="true" id="colorRadio3">
                    <label class="custom-control-label" for="colorRadio3" style="font-size:16px">Yes</label>
                  </div>
                  <div class="d-inline-block custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="isAddInsurance" id="colorRadio4"
                      [(ngModel)]="isAddInsurance" (click)="selectUseInsurance(false)" [value]="false">
                    <label class="custom-control-label" for="colorRadio4" style="font-size:16px">No</label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="invoice-template" class="card-body" *ngIf="isAddInsurance!= null">
        <!-- <img src="assets/image/site-logo.png" alt="company logo" /><br><br> -->
        <!-- Invoice Company Details -->
        <!-- <div id="invoice-company-details" class="row">

          <div class="col-md-9 col-sm-12 text-center text-md-left">
            <div class="media">
              <div class="media-body">
                <ul class="px-0 list-unstyled">
                  <li class="text-bold-600">{{companyModel.CompanyName}}</li>
                  <li>{{companyModel.Address1}} {{companyModel.Address2}}</li>
                  <li>{{companyModel.City}}, {{companyModel.State}} {{companyModel.ZipCode}}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-12 text-center text-md-right">
            <h2 class="text-bold-500">INVOICE</h2>
          </div>
        </div> -->
        <!--/ Invoice Company Details -->

        <!-- Invoice Customer Details -->
        <!-- <div id="invoice-customer-details" class="row pt-2">
          <div class="col-sm-12 text-center text-md-left">
            <p class="text-muted">Bill To:</p>
          </div>
          <div class="col-md-6 col-sm-12 text-center text-md-left">
            <ul class="px-0 list-unstyled">
              <li class="text-bold-600">{{patientModel.PatientUser.FirstName}} {{patientModel.PatientUser.LastName}}
              </li>
              <li>{{patientModel.PatientUser.Email}}</li>
              <li>{{patientModel.PatientUser.CellPhone}}</li>
              <li>{{patientModel.PatientUser.Address1}} {{patientModel.PatientUser.Address2}}</li>
              <li>{{patientModel.PatientUser.City}}, {{patientModel.PatientUser.State}}
                {{patientModel.PatientUser.ZipCode}}</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 text-center text-md-right">
            <p><span class="text-muted">Date :</span> {{currentDate | date: 'MM/dd/yyyy'}}</p>
          </div>
        </div> -->
        <!--/ Invoice Customer Details -->

        <!-- Invoice Items Details -->
        <div id="invoice-items-details" class="pt-2">
          <div class="row mb-2">
            <div class="table-responsive col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Check Out</th>
                    <th class="text-right">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="text-bold-600">Telemedicine Visit</p>
                      <p class="text-bold-600">{{model.IsOnDemand ? 'On Demand': 'Scheduled Appointment'}}</p>
                      <p class="text-bold-600" *ngIf="!model.IsOnDemand">
                        {{model.AppointmentTime | date: 'MM/dd/yyyy hh:mm a'}}</p>
                    </td>
                    <td class="text-right" style="padding: 0.75rem !important;">$
                      <!-- {{isAddInsurance ? '0' : (isClickApply && !isDiscountCodeError) ? 0 :  companyModel.AppointmentPrice}} -->

                      {{calculateAppointmentPrice()}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="col-md-12 mt-2" *ngIf="isAddInsurance !=null && isAddInsurance">
                <p class="lead text-bold-500" style="font-size: 1.5rem;">Insurance</p>
                <hr style="border-top: 1px solid rgba(0, 0, 0, 0.5)">
                <div class="text-center">
                  <p class="text-bold-700">
                    <i style="font-size: 17px;" class="fa fa-id-card"></i>
                    Please add your insurance by clicking button below.
                  </p>
                  <button type="button" class="btn btn-green round" (click)="addInsurance()"> Add
                    Insurance</button>
                </div>
              </div>
              <div class="row" *ngIf="isAddInsurance !=null && isAddInsurance">
                <div *ngFor="let item of patientModel.PatientInsurances" class="col-sm-12 text-center text-md-left">
                  <div>
                    <div class="col-md-12 mt-2">
                      <div class="text-bold-500 mb-1">Insurance Name: {{item.InsuranceName}}</div>
                      <div class="text-bold-500 mb-1">Insurance Member ID : {{item.BeneficiaryNumber}}</div>
                      <div class="text-bold-500 mb-1">Group Number : {{item.GroupNumber}}</div>
                      <div *ngIf="item.DontKnowCopay ===true" class="text-bold-500 mb-1">
                        Copay: Don't know</div>

                      <div
                        *ngIf="item.DontKnowCopay === undefined || item.DontKnowCopay === null || item.DontKnowCopay ===false"
                        class="text-bold-500 mb-1">Copay:
                        ${{item.PatientCopay}}</div>

                      <div *ngIf="item.DontKnowCopay ===true" class="text-bold-600 mb-1">
                        An amount of $35 will be held on your credit card while we verify your insurance and copay
                        amount.
                      </div>

                      <div *ngIf="item.IsHMOPlan" class="text-bold-500 mb-1">
                        I have HMO plan</div>

                      <div *ngIf="!item.IsHMOPlan" class="text-bold-500 mb-1">
                        I don't have HMO plan</div>

                      <div>
                        <button type="button" class="btn btn-sm btn-info mr-1"
                          (click)="changeInsurance(item.ID)">Update</button>
                        <button type="button" class="btn btn-sm btn-danger"
                          (click)="removeItemInsurance(item.ID)">Remove</button>
                      </div>
                    </div>
                  </div>
                  <hr style="border-top: 1px solid rgba(0, 0, 0, 0.5)">
                </div>
                <div>
                  <i style="font-size: 22px;" class="fa fa-info-circle warning"></i>
                  <span class="text-bold-600"> Willfully entering of false insurance and payment information is not
                    permitted and will be prosecuted to the maximal extent of the law.</span>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-sm-12 mt-3" style="padding:0;">
              <p class="lead text-bold-500" style="font-size: 1.5rem;">Total due</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-bold-600">Total</td>
                      <td class="text-bold-600 text-right"> $
                        <!-- {{isAddInsurance ? '0' :  (isClickApply && !isDiscountCodeError)? 0 :  companyModel.AppointmentPrice}} -->
                        {{calculateAppointmentPrice()}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold-600">Special Code (Optional)</td>
                      <td class="text-right">
                        <div class="mb-1">
                          <button class="btn btn-sm" type="button" (click)="setExpandSpecialCode()">
                            <i *ngIf="!isExpandedSpecialCode" class="la la-plus-circle success"></i>
                            <i *ngIf="isExpandedSpecialCode" class="la la-minus-circle success"></i>
                          </button>
                        </div>
                        <div *ngIf="isExpandedSpecialCode">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your special code"
                              name="ByPassPaymentCode" [(ngModel)]="model.ByPassPaymentCode"
                              #ByPassPaymentCode="ngModel">
                            <div class="input-group-append" *ngIf="isClickApply && !isDiscountCodeError">
                              <span class="input-group-text">
                                <i class="icon-check text-success" style="font-size: 20px; "></i>
                              </span>
                            </div>
                          </div>
                          <div *ngIf="isClickApply && !IsChecking && isDiscountCodeError" class="error-message">Invalid
                            Code.
                            Please try again with another code.</div>
                          <div *ngIf="isClickApply && IsChecking && isDiscountCodeError" class="error-message">
                            Checking...
                          </div>

                          <div class="pt-1">
                            <button type="button" (click)="funcCheckCode()"
                              class="btn btn-medical-white round pull-right">Apply</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="table-responsive mt-3" *ngIf="(isDiscountCodeError)">
                <p class="lead text-bold-500" style="font-size: 1.5rem;">Payment Info</p>
                <hr style="border-top: 1px solid rgba(0, 0, 0, 0.5)">
                <i style="font-size: 22px;" class="fa fa-question-circle info"></i>
                <span class="text-bold-600"> Why do I have to include my credit card?</span>
                <table class="table-responsive mt-1">
                  <tbody>
                    <tr *ngIf="IsShowStripePayment || IsChangeCardInfo">
                      <td colspan="2">
                        <p><strong>Note:</strong> If you don't have Insurance or your Insurance is not valid, we will
                          charge your credit card instead.</p>
                        <p>Base on the various insurance policy, we need to bill copay, in case not covered by insurance
                          100%</p>
                        <p *ngIf="!patientModel.CardID" class="text-center danger">Please add your credit/debit card
                          below.</p>
                        <div class="col-md-12 text-center">
                          <button type="button" class="btn btn-green ml-1" (click)="addCardInfo()"> Add Credit/Debit
                            Card</button>
                          <!-- <app-stripe-payment [model]="model" [IsChangeCardInfo]="IsChangeCardInfo">
                        </app-stripe-payment> -->
                        </div>
                      </td>
                    </tr>
                    <tr
                      *ngIf="(IsShowStripePayment || IsChangeCardInfo) && (patientModel.CardID != null && patientModel.CardID != '')">
                      <td colspan="2" class="text-right">
                        <button type="button" (click)="cancelChangeCard()" class="btn btn-medical-white">Cancel</button>
                      </td>
                    </tr>
                    <tr *ngIf="!IsShowStripePayment && !IsChangeCardInfo">
                      <td colspan="2">
                        <p><strong>Note:</strong> If you don't have Insurance or your Insurance is not valid, we will
                          charge your credit card instead.</p>
                        <p>Base on the various insurance policy, we need to bill copay, in case not covered by insurance
                          100%</p>
                        <table style="width: 100%;" id="cardInfo">
                          <tr>
                            <td class="form-label" style="width: 25%;text-align: center;">
                              Card Number
                            </td>
                            <td class="form-label" style="width: 20%;text-align: center;">
                              Exp. Date
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="form-payment-control" style="text-align: right;width: 25%;">
                              {{cardInfo.CardNumber}}
                            </td>
                            <td class="form-payment-control" style="text-align: center;width: 20%;">
                              {{cardInfo.ExpiredMonth}}/{{cardInfo.ExpiredYear}}
                            </td>
                            <td class="form-payment-control" style="text-align: center;width: 35%;">
                              <button class="btn btn-green round" (click)="addCardInfo()" title="Change Card"><i
                                  class='la la-edit'> Change Card</i></button>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <div class="col-md-12 pl-2 mt-1 mb-1">
                  <div class="custom-checkbox">
                    <input class="custom-control-input" type="checkbox" [(ngModel)]="model.IsReadAndAgreedTreatment"
                      name="IsReadAndAgreedTreatment" required id="customCheckTreatment" />
                    <label class="custom-control-label" for="customCheckTreatment">I've read and agree
                      to the <a target="_blank"
                        href="https://umedoc-prod.s3.amazonaws.com/RandomFiles/Treatment+Consent.pdf"><i>Treatment
                          Consent</i></a> and <a target="_blank"
                        href="https://umedoc-prod.s3.amazonaws.com/RandomFiles/Patient+billing+consent.pdf"><i>Billing
                          Consent</i></a>.</label>
                    <div *ngIf="!model.IsReadAndAgreedTreatment" class="error-message">
                      Please Read and Agree to the Treatment Consent.
                    </div>
                  </div>
                </div>
                <p>We reserve the right to charge a no show fee. A fee of $14.99 will be charged for missing an
                  appointment.</p>
                <p>By clicking <strong>Submit Appointment</strong> below, you accept and authorize services performed by
                  the medical
                  provider as well as charging for these applicable services to your financial institution.</p>
              </div>
              <div>
                <i style="font-size: 22px;" class="fa fa-lock text-bold-600"></i>
                <span class="text-bold-600"> Your payment and health information is secure and protected.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-12 form-actions row ml-0 mr-0 mt-3 p-0">
    <div class="col-md-6 col-sm-12 text-center text-md-left pt-1">
      <button type="button" class="btn btn-medical-white btn-min-width btn-lg"
        (finalize)="scrollToTop();raiseRefresh();" awPreviousStep>Back</button>
    </div>
    <div class="col-md-6 col-sm-12 text-center text-md-right pt-1">
      <button type="submit" *ngIf="(isClickApply && !isDiscountCodeError)" [disabled]="IsSubmitting"
        class="btn btn-green btn-min-width btn-lg">Submit</button>
      <button type="button" (click)="paymentSubmitted()" *ngIf="(isDiscountCodeError) && IsShowStripePayment"
        [disabled]="IsSubmitting" class="btn btn-green btn-min-width btn-lg">Submit Appointment</button>

      <button type="button" (click)="paymentSave()" *ngIf="(isDiscountCodeError) && !IsShowStripePayment"
        [disabled]="IsSubmitting && !model.IsReadAndAgreedTreatment" class="btn btn-green btn-min-width btn-lg">Submit
        Appointment</button>
    </div>
  </div>
</form>
<app-card-info #cardInfoModal (closeModal)="getPatientProfileEntity()"></app-card-info>
<app-insurance-update #insuranceUpdateModal (closeModal)="onCloseInsurance($event)"></app-insurance-update>