<div class="card">
    <div class="card-content collapse show">
        <div class="card-body card-dashboard">  
            <table class="table row-grouping display" [isFilter]="false" [isLengthChange]="false" appPagingTable=""
                [aoColumns]="aoColumns" [aoColumnDefs]="aoColumnDefs" [serverLink]="serverLink" [aaSorting]="aaSorting"
                [compRef]="compRef" (tableEvent)="catchTable($event)" style="width: 100%">
            </table>
        </div>
    </div>
</div> 