<div class="content-header row mb-1">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title">Appointment Reasons</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/management']">Management</a>
          </li>
          <li class="breadcrumb-item">Appointment Reasons
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
  </div>
</div>
<div class="content-body">
  <div class="row">
    <div class="col-12">
      <div class="card" [appActionCardButton]="'Requested-Appointments1'" style="min-height: 65vh;">
        <div class="card-header">
          Appointment Reasons
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a href="javascript:void(0)" (click)="add()"><i class="la la-plus"></i> Add New</a></li>
              <li><a data-action="reload" (click)="search()"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <ngx-sortable [items]="list" [listStyle]="listStyle" (listSorted)="listOrderChanged($event)">
              <ng-template let-item>
                <div class="col-lg-12 col-12 mt-1">
                  <div class="card pull-up">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="media-body text-left">
                            <h5>{{item.ReasonName}}</h5>
                          </div>
                          <div class="align-self-center">
                            <span class="badge badge-success mr-2" *ngIf="!item.IsInactived">Actived</span>
                            <span class="badge badge-danger mr-2" *ngIf="item.IsInactived">Inactived</span>
                            <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="edit(item)"><i
                                class="la la-edit"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="remove(item)"><i
                                class="la la-trash"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-sortable>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-appointment-reason-info #appReasonModal (onClosed)="search()"></app-appointment-reason-info>