<div class="content-header row mb-1">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Providers Appointment Slots</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/management']">Management</a>
                    </li>
                    <li class="breadcrumb-item">Providers Appointment Slots
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card" [appActionCardButton]="'My-Appointment-Slot'">
                <div class="card-header">
                    <div class="text-center">
                        <h3 style="color:#016670; font-weight: 500;">Please click to add or delete appointment slots.
                        </h3>
                    </div>
                </div>
                <div class="card-content show">
                    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && search()">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-9">
                                    <div class="row form-group">
                                        <label class="col-md-2">
                                            Providers:
                                            <span class="danger">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-8">
                                            <ng-select2 name="ProviderIds" [(ngModel)]="providerIds"
                                                #ProviderIds="ngModel" required [data]="providers"
                                                [options]="optionsProvider"></ng-select2>
                                            <div *ngIf=" f.submitted && ProviderIds.errors && ProviderIds.errors.required"
                                                class="error-message">
                                                Please select providers.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> </label>
                                        <button type="submit" class="btn  btn-green">Show Calendar</button>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <div #scheduler></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>