<div class="form_login form_register form_forgot_password" style="height:100%;">
  <div class="container">
    <div class="inner">

      <div class="site_logo">
        <a href="https://umedoc.com"><img class="img-fluid" src="/assets/image/site-logo.png" style="height:75px;"></a>
      </div>

      <div class="form_wider">
        <h4>Set Your Password</h4>
        <form (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter New Password" name="Password"
                  #Password="ngModel" [(ngModel)]="model.Password" minlength="8" required>
                <div *ngIf="f.submitted && Password.errors && Password.errors.required" class="error-message">
                  Please enter your new Password.
                </div>
                <div *ngIf="f.submitted && Password.errors && !Password.errors.required && Password.errors.minlength"
                  class="error-message">
                  Password must be more than 8 characters.
                </div>
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-type New Password" name="SecondPassword"
                  #SecondPassword="ngModel" [(ngModel)]="model.SecondPassword" minlength="8" [equalTo]="Password"
                  required>
                <div *ngIf="f.submitted && SecondPassword.errors && SecondPassword.errors.required"
                  class="error-message">
                  Please re-type your new Password.
                </div>
                <div
                  *ngIf="f.submitted && SecondPassword.errors && !SecondPassword.errors.required && SecondPassword.errors.minlength"
                  class="error-message">
                  Password must be more than 8 characters.
                </div>
                <div
                  *ngIf="f.submitted && SecondPassword.errors && !SecondPassword.errors.required && !SecondPassword.errors.minlength && SecondPassword.errors.equalTo"
                  class="error-message">
                  Password not match.
                </div>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <div class="form-group">
                <button class="btn btn_login" type="submit" [disabled]="Submitting">
                  {{Submitting?'Please Wait...':'Submit'}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>