<div class="" style="margin-top: 50px !important; ">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card border-success">
                <div class="card-header">
                    <h5 class="card-title" style="color: #016670;"></h5>
                    <div class="heading-elements">
                        <a class="btn btn-sm btn-icon round bg-teal white" [routerLink]="['/edit-patient-profile']"
                            id="btnUpdateProfile" type="button">
                            <i class="la la-edit white"></i> {{'Update' | translate}}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 d-flex">
                            <div class="patient-img-name text-center">
                                <img style="width :150px;height:150px;" width="100px" height="100px"
                                    *ngIf="model.PatientUser.ProfilePicture"
                                    src="{{ model.PatientUser.ProfilePicture }}" alt=""
                                    class="card-img-top mb-1 patient-img img-fluid rounded-circle" />
                                <img *ngIf="!model.PatientUser.ProfilePicture"
                                    src="https://umedoc-prod.s3.amazonaws.com/RandomFiles/umedoc-defaultavatar.png" style="width :150px;height:150px;"
                                    alt="" width="100px" height="100px"
                                    class="card-img-top mb-1 patient-img img-fluid rounded-circle" />
                                <h2 class="text-bold-500 text-info">
                                    {{ model.PatientUser.FirstName }}
                                    {{ model.PatientUser.LastName }}
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 d-flex">
                            <div class="patient-info">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="patient-info-heading-left">{{'Date of Birth:' | translate}}
                                            {{transformDob(model.PatientUser.DOB)}} {{calAgePatient()}}</div>
                                    </li>
                                    <li>
                                        <div class="patient-info-heading-left">{{'Email:' | translate}} {{model.PatientUser.Email}} </div>
                                    </li>
                                    <li>
                                        <div class="patient-info-heading-left">{{'Cell Phone:' | translate}}
                                            {{model.PatientUser.CellPhone}}</div>
                                    </li>
                                    <li>
                                        <div class="patient-info-heading-left">{{'Gender:' | translate}}
                                            {{model.PatientUser.Gender}}</div>
                                    </li>
                                    <li>
                                        <div class="patient-info-heading-left"> {{'Address:' | translate}}
                                            {{model.PatientUser.Address1}}
                                            {{model.PatientUser.Address2}} {{model.PatientUser.City}},
                                            {{model.PatientUser.State}}
                                            {{model.PatientUser.ZipCode}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>