<div class="row clearfix">
    <div class="col-md-12">
        <div class="card" style="height: 100%;">
            <div class="card-content">
                <div class="col-md-12 text-center" style="max-height:80vh;overflow: auto;" *ngIf="!model">
                    <h3 class="text-danger  mt-3">Please double check your link. Cannot find your billing. </h3>
                </div>
                <div class="col-md-12 text-center" style="height:80vh;overflow: auto;" *ngIf="model && model.IsPaid">
                    <h3 class="text-success mt-3">Your Insurance Balance Billing has been paid.</h3>
                </div>
                <div class="col-md-12" style="max-height:80vh;overflow: auto;"
                    *ngIf="model && model.DocumentUrl && !model.IsPaid">
                    <pdf-viewer [src]="model.DocumentUrl" [render-text]="true" [zoom]="1.3"></pdf-viewer>
                </div>
                <div class="row" *ngIf="model && model.ID && !model.IsPaid">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="padding-left:30px;padding-right:30px;">
                        <h5 class="mt-4 mb-4 text-bold-500">Amount: ${{model.Amount}}</h5>
                        <table class="table-responsive mt-2 mb-2">
                            <tbody>
                                <tr *ngIf="IsShowStripePayment || IsChangeCardInfo">
                                    <td colspan="2">
                                        <p><strong>Note:</strong> If you don't have Insurance or your
                                            Insurance is not valid, we will
                                            charge your credit card instead.</p>
                                        <p>Base on the various insurance policy, we need to bill copay, in
                                            case not covered by insurance
                                            100%</p>
                                        <p *ngIf="!patientModel.CardID" class="text-center danger">Please
                                            add your credit/debit card
                                            below.</p>
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn btn-green ml-1" (click)="addCardInfo()">
                                                Add
                                                Credit/Debit
                                                Card</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    *ngIf="(IsShowStripePayment || IsChangeCardInfo) && (patientModel.CardID != null && patientModel.CardID != '')">
                                    <td colspan="2" class="text-right">
                                        <button type="button" (click)="cancelChangeCard()"
                                            class="btn btn-medical-white">Cancel</button>
                                    </td>
                                </tr>
                                <tr *ngIf="!IsShowStripePayment && !IsChangeCardInfo">
                                    <td colspan="2">
                                        <table style="width: 100%;" id="cardInfo">
                                            <tr>
                                                <td class="form-label" style="width: 25%;text-align: center;">
                                                    Card Number
                                                </td>
                                                <td class="form-label" style="width: 20%;text-align: center;">
                                                    Exp. Date
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="form-payment-control" style="text-align: right;width: 25%;">
                                                    {{cardInfo.CardNumber}}
                                                </td>
                                                <td class="form-payment-control" style="text-align: center;width: 20%;">
                                                    {{cardInfo.ExpiredMonth}}/{{cardInfo.ExpiredYear}}
                                                </td>
                                                <td class="form-payment-control" style="text-align: center;width: 35%;">
                                                    <button class="btn btn-green round" (click)="addCardInfo()"
                                                        title="Change Card"><i class='la la-edit'> Change
                                                            Card</i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            If you have any question, please contact us at 904-990-4001 or info@umedoc.com
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="card-footer" *ngIf="model && !model.IsPaid">
                <button class="btn btn-info pull-right" type="button" [disabled]="checkDisablePayNow()"
                    (click)="payNow()">Pay Now</button>
            </div>
        </div>
    </div>
</div>

<app-card-info #cardInfoModal [isBilling]="true" (closeModal)="getPatientProfileEntity()"></app-card-info>