#page-blocks {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-blocks>div {
    margin-top: 1em;
}

#create-a-room {
    flex: none;
}

#create-a-room>div {
    margin-top: 0.25em;
}

#meeting-info-row {
    flex: none;
    display: flex;
}

#meeting-info-row>div {
    flex: auto;
}

#buttons-row {
    flex: none;
    display: flex;
}

#buttons-row>div {
    flex: auto;
}

#call-frame-container {
    flex-grow: 1;
    /* set position and height so this is the "css container" for the iframe */
    position: relative;
    height: 100%;
    min-height: 300px;
}

.info>div {
    margin: 0.25em;
}

.info>div:nth-of-type(2) {
    font-size: 80%;
}

.info>div>div {
    margin: 0.25em;
}

.flex-bins {
    display: flex;
    flex-basis: auto;
}

.flex-bin {
    flex-basis: auto;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}