<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table
                class="table table-bordered dataTable"
                [isFilter]="false" [isLengthChange]="false" appPagingTable="" [aoColumns]="aoColumns"
                [aoColumnDefs]="aoColumnDefs" [serverLink]="serverLink" [aaSorting]="aaSorting" [compRef]="compRef"
                (tableEvent)="catchTable($event)" style="width: 100%">
            </table>
        </div>
    </div>
</div>