<div class="row clearfix">
    <div class="col-md-12">
        <div class="card" style="min-height: 70vh;">
            <div class="card-content">
                <div class="col-md-12 text-center pt-5 mt-5">
                    <h2 class="text-bold-500 danger pb-2">
                        We are verifying your credential!
                    </h2>
                    <h3 class="pb-2"> We will let you know after this process is completed.</h3>
                    <p>If you have any question, please contact us at <br> (904) 990-4001</p>
                </div>
            </div>
        </div>
    </div>
</div>