<div class="">
    <div class="row">
        <div class="col-12">
            <div class="card" [appActionCardButton]="'Completed-Appointments'">
                <div class="card-header">
                    <h1 class="card-title title-h1">Prizm Patient Notes</h1>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload" (click)="RefreshTable()"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div class="row col-md-12 text-right mt-2 mb-2">
                            <button type="button" (click)="sendNote()" class="btn btn-green">Send Note</button>
                        </div>
                        <table class="table row-grouping display" [isFilter]="true" [isLengthChange]="true" appPagingTable="" [aoColumns]="aoColumns" [aoColumnDefs]="aoColumnDefs" [serverLink]="serverLink" [aaSorting]="aaSorting"
                            [compRef]="compRef" (tableEvent)="catchTable($event)" style="width: 100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="criteria && criteria.ID && criteria.PatientID">
            <app-prizm-patient-prescription [appointmentId]="criteria.ID" [patientId]="criteria.PatientID" ></app-prizm-patient-prescription>
        </div>
    </div>
</div>
<app-prizm-send-note-modal #modal (closeModal)="RefreshTable()"></app-prizm-send-note-modal>