<div class="row m-t-40">
    <div class="col-md-12">
        <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>

            <fieldset class="fieldset-user">
                <h4 class="form-section"><i class="la la-support"></i> Emergency Contact</h4>
                <div class="form-group row clearfix" id="groupEmergencyContact">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">
                                Emergency Contact Name:
                            </label>
                            <input type="text" class="form-control" name="EmergencyContactName"
                                [(ngModel)]="model.EmergencyContactName" #EmergencyContactName="ngModel" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">
                                Emergency Contact Phone Number:
                            </label>
                            <input type="text" class="form-control" [textMask]="{mask:maskPhone}"
                                pattern="^\(([2346789][0-9]{2}|[23456789][012346789][0-9]|[23456789][0-9][012346789])\)\s?([012346789][0-9]{2}|[0123456789][012346789][0-9]|[0123456789][0-9][012346789])-[0-9]{4}$"
                                name="EmergencyContactPhoneNumber" [(ngModel)]="model.EmergencyContactPhoneNumber"
                                #EmergencyContactPhoneNumber="ngModel" />
                            <div *ngIf="EmergencyContactPhoneNumber.errors  && EmergencyContactPhoneNumber.errors.pattern"
                                class="error-message">Invalid
                                Phone Ex:(999) 999-9999
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">
                                Primary Care Provider:
                            </label>
                            <input type="text" class="form-control" name="PrimaryCare" [(ngModel)]="model.PrimaryCare"
                                #PrimaryCare="ngModel" />
                        </div>
                    </div>
                </div>

            </fieldset>

            <div class="col-md-12 form-actions text-center">
                <button type="button" class="btn btn-medical-white btn-min-width btn-lg mr-1" (click)="cancel()">
                    <i class="ft-x"></i> Cancel</button>
                <button type="submit" class="btn btn-green btn-min-width btn-lg" [disabled]="IsSubmitting">
                    <i class="la la-check-square-o"></i> Save</button>
            </div>

        </form>
    </div>
</div>