<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card" [appActionCardButton]="'Requested-Appointments1'" style="min-height: 73vh;">
                <div class="card-header">
                 
                </div>
                <div class="card-content collapse show">  
                    <div class="col-md-12 card-body card-dashboard text-center">
                         <h1 class="card-title title-h1">Cancel Paying With Crypto</h1> 
                         <h1 class="mt-4">Your request is processing......</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>