.list-group-item:first-child {
    border-top: none !important;
    border-radius: 0px;
}
.list-group-item {
    /* border-top: 1px solid #e4e7ed !important; */
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-radius: 0px;
    padding: 1rem 1.25rem;
}
 