<div bsModal   #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog">
    <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
        </div>
        <div class="modal-body"> 
          
          <div class="form-group">
            <label class="col-sm-4 control-label">New Password</label>
            <div class="col-sm-12">
              <input type="password" class="form-control" placeholder="New Password" minlength="8" name="Password"
                [(ngModel)]="model.Password" #Password="ngModel" required>
              <div *ngIf="f.submitted && Password.errors && Password.errors.required" class="error-message">This field
                is required.</div>
              <div *ngIf="f.submitted && Password.errors && !Password.errors.required && Password.errors.minlength"
                class="error-message">Minimum 8 characters.</div>
            </div> 
          </div>
          <div class="form-group">
            <label class="col-sm-8 control-label">Re-type Password</label>
            <div class="col-sm-12">
              <input type="password" class="form-control" placeholder="Re-type Password" minlength="8"
                [equalTo]="Password" name="SecondPassword" [(ngModel)]="model.SecondPassword" #SecondPassword="ngModel"
                required>
              <div *ngIf="f.submitted && SecondPassword.errors && SecondPassword.errors.required" class="error-message">
                This field is required.</div>
              <div
                *ngIf="f.submitted && SecondPassword.errors && !SecondPassword.errors.required &&!SecondPassword.errors.minlength && SecondPassword.errors?.equalTo"
                class="error-message">Password not match</div>
              <div
                *ngIf="f.submitted && SecondPassword.errors && !SecondPassword.errors.required && SecondPassword.errors.minlength"
                class="error-message">Minimum 8 characters.</div>
            </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn  btn-green" [disabled]="Submitting">Submit</button>
          <button type="button" class="btn  btn-medical-white" (click)="hide()">Cancel</button>
        </div>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>