<form class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <div class="card" style="min-height: 80vh;">
        <div class="card-body">
            <div class="text-center mt-1 mb-2">
                <h1 class="title-h1 text-bold-600">{{'REASONS FOR VISIT' | translate}}</h1>
            </div>
            <div class="row" *ngIf="!isTravelMedicine && !isCovidScreening && !isWeightLoss">
                <div class="col-md-12">
                    <div class="col-12 mt-5">
                        <label><strong>{{'Please describe in more detail the reason for your visit:' |
                                translate}}</strong></label>
                        <textarea required="" class="form-control" name="Description" placeholder="{{'Required'| translate}}" [(ngModel)]="model.Description" #Description="ngModel" rows="15" cols="50">
                        </textarea>
                        <div *ngIf="Description.errors
                                                                && Description.errors.required" class="row error-message col-md-12" style="font-size:9px">
                            This field is required.
                        </div>
                    </div>
                    <div class="col-md-12 mt-1" *ngIf="isPrimaryCare">
                        <label>
                            <div style="position: relative;display:inline-block">
                                Note: For weight loss, please book your appointment through the "Weight Loss Program" tile on the main menu. We need to gather important information beforehand. Thank you!
                            </div>
                        </label>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label>
                            <input type="checkbox" value="isCovidRelated" [(ngModel)]="isCovidRelated" name="isCovidRelated">
                            Is it Covid related?
                        </label>
                    </div>

                    <div class="col-md-12 mt-1" *ngIf="isMedicationRefill">
                        <label>
                            <div style="position: relative;display:inline-block">
                                <input type="checkbox" value="isAgreedMedicationRefill" #isAgreedMedicationRefill1="ngModel" [(ngModel)]="isAgreedMedicationRefill" name="isAgreedMedicationRefill" required>
                                Please contact your pharmacy to confirm the availability of your medication before your appointment time. <div class="tooltip_medical_refill" (click)="showInfo()"><i class="fa fa-info-circle danger"
                                        style="font-size: 22px; margin-right: 5px;"></i>
                                </div>
                            </div>
                        </label>
                        <div *ngIf="isAgreedMedicationRefill1.errors
                                        && isAgreedMedicationRefill1.errors.required" class="row error-message col-md-12" style="font-size:9px">
                            This option is required.
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="isCovidRelated">
                        To dear customers,<br>
                        We currently are not allowed to prescribe ivermectin, hydroxychloroquine, and chloroquine for the treatment or prevention for COVID-19 and the variants according to the Food and Drug Administration (FDA) and American
                        Medical Association (AMA) guidelines and regulations.
                        <br>
                        However, if there is any change or update regarding the use of ivermectin, hydroxychloroquine or chloroquine as authorized options for preventing and treating COVID-19 by FDA and AMA, we will be able to provide you
                        the options based on individual health conditions and assessments by our medical providers.
                        <br>
                        Our team strives to provide the gold standard care for you and your family.<br>
                        Sincerely,<br>
                        Umedoc Team.<br>
                    </div>
                    <div class="row text-center" *ngIf="!model.AppointmentImageList || model.AppointmentImageList.length < 10">
                        <div class="col-md-12 mt-2 mb-2">
                            <label class="btn btn-warning" style="margin-top:8px;" title="Add Image" appFileUpload="" [typeUpload]="'appointment_image'" (onCallback)="uploaded($event)" [fileType]="0" (onUploadStatus)="uploadStatus($event)"
                                [link]="'/api/Utility/S3UploadPrivateImage'">
                                <input type="file" [disabled]="(isUploading?true:null)" class="sr-only" name="file" accept="image/*">
                                <i class="fa fa-spinner fa-spin" *ngIf="isUploading"></i>
                                <span>{{isUploading?'Uploading...':'Add images' | translate}}</span>
                            </label>
                        </div>
                    </div>

                    <div class="list-unstyled row clearfix mt-2" *ngIf="model.AppointmentImageList && model.AppointmentImageList.length > 0">
                        <ng-template ngFor let-item [ngForOf]="model.AppointmentImageList" let-i="index">
                            <div class="col-lg-1 col-md-6 col-sm-12 m-b-30 text-center">
                                <a href="javascript:void(0)">
                                    <img style="max-width: 100px!important;height: 100px!important;" class="img-fluid img-thumbnail" [src]="item.ImageName" alt="">
                                </a>
                                <div class="pt-1 pb-1">
                                    <button type="button" class="btn btn-danger btn-sm m-t-5" (click)="removeAttach(i)">
                                        <i class="la la-trash"></i>Delete</button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isCovidScreening">
                <div class="col-md-12" style="padding:0;">

                    <iframe id="JotFormIFrame-{{covidScreeningJotFormID}}" title="Umedoc - Covid Vaccine Screening Questions" onload="window.parent.scrollTo(0,0)" allowtransparency="true" allowfullscreen="true"
                        allow="geolocation; microphone; camera" [src]="covidScreeningJotFormUrl" frameborder="0" style="
    min-width: 100%;
    height:1000px;
    border:none;" scrolling="yes">
                    </iframe>
                    <script type="text/javascript">
                        var ifr = document.getElementById("JotFormIFrame-{{covidScreeningJotFormID}}");
                        if (ifr) {
                            var src = ifr.src;
                            var iframeParams = [];
                            if (window.location.href && window.location.href.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
                            }
                            if (src && src.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
                                src = src.substr(0, src.indexOf("?"))
                            }
                            iframeParams.push("isIframeEmbed=1");
                            ifr.src = src + "?" + iframeParams.join('&');
                        }
                        window.handleIFrameMessage = function (e) {
                            if (typeof e.data === 'object') { return; }
                            var args = e.data.split(":");
                            if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
                            if (!iframe) { return; }
                            switch (args[0]) {
                                case "scrollIntoView":
                                    iframe.scrollIntoView();
                                    break;
                                case "setHeight":
                                    iframe.style.height = args[1] + "px";
                                    break;
                                case "collapseErrorPage":
                                    if (iframe.clientHeight > window.innerHeight) {
                                        iframe.style.height = window.innerHeight + "px";
                                    }
                                    break;
                                case "reloadPage":
                                    window.location.reload();
                                    break;
                                case "loadScript":
                                    if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                                    var src = args[1];
                                    if (args.length > 3) {
                                        src = args[1] + ':' + args[2];
                                    }
                                    var script = document.createElement('script');
                                    script.src = src;
                                    script.type = 'text/javascript';
                                    document.body.appendChild(script);
                                    break;
                                case "exitFullscreen":
                                    if (window.document.exitFullscreen) window.document.exitFullscreen();
                                    else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                                    else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                                    else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                                    else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                                    break;
                            }
                            var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
                            if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
                                var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
                                iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
                            }
                        };
                        window.isPermitted = function (originUrl, whitelisted_domains) {
                            var url = document.createElement('a');
                            url.href = originUrl;
                            var hostname = url.hostname;
                            var result = false;
                            if (typeof hostname !== 'undefined') {
                                whitelisted_domains.forEach(function (element) {
                                    if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                                        result = true;
                                    }
                                });
                                return result;
                            }
                        }
                        if (window.addEventListener) {
                            window.addEventListener("message", handleIFrameMessage, false);
                        } else if (window.attachEvent) {
                            window.attachEvent("onmessage", handleIFrameMessage);
                        }
                    </script>
                </div>
            </div>
            <div class="row" *ngIf="isTravelMedicine">
                <div class="col-md-12" style="padding:0;">
                    <iframe id="JotFormIFrame-{{travelJotFormID}}" title="Umedoc - Travel Med Screening Questions" onload="window.parent.scrollTo(0,0)" allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera"
                        [src]="travelJotFormUrl" frameborder="0" style="
    min-width: 100%;
    height:4930px;
    border:none;" scrolling="yes">
                    </iframe>
                    <script type="text/javascript">
                        var ifr = document.getElementById("JotFormIFrame-{{travelJotFormID}}");
                        if (ifr) {
                            var src = ifr.src;
                            var iframeParams = [];
                            if (window.location.href && window.location.href.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
                            }
                            if (src && src.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
                                src = src.substr(0, src.indexOf("?"))
                            }
                            iframeParams.push("isIframeEmbed=1");
                            ifr.src = src + "?" + iframeParams.join('&');
                        }
                        window.handleIFrameMessage = function (e) {
                            if (typeof e.data === 'object') { return; }
                            var args = e.data.split(":");
                            if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
                            if (!iframe) { return; }
                            switch (args[0]) {
                                case "scrollIntoView":
                                    iframe.scrollIntoView();
                                    break;
                                case "setHeight":
                                    iframe.style.height = args[1] + "px";
                                    break;
                                case "collapseErrorPage":
                                    if (iframe.clientHeight > window.innerHeight) {
                                        iframe.style.height = window.innerHeight + "px";
                                    }
                                    break;
                                case "reloadPage":
                                    window.location.reload();
                                    break;
                                case "loadScript":
                                    if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                                    var src = args[1];
                                    if (args.length > 3) {
                                        src = args[1] + ':' + args[2];
                                    }
                                    var script = document.createElement('script');
                                    script.src = src;
                                    script.type = 'text/javascript';
                                    document.body.appendChild(script);
                                    break;
                                case "exitFullscreen":
                                    if (window.document.exitFullscreen) window.document.exitFullscreen();
                                    else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                                    else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                                    else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                                    else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                                    break;
                            }
                            var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
                            if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
                                var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
                                var postRespone = iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
                                console.log(postRespone);
                            }
                        };
                        window.isPermitted = function (originUrl, whitelisted_domains) {
                            var url = document.createElement('a');
                            url.href = originUrl;
                            var hostname = url.hostname;
                            var result = false;
                            if (typeof hostname !== 'undefined') {
                                whitelisted_domains.forEach(function (element) {
                                    if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                                        result = true;
                                    }
                                });
                                return result;
                            }
                        }
                        if (window.addEventListener) {
                            window.addEventListener("message", handleIFrameMessage, false);
                        } else if (window.attachEvent) {
                            window.attachEvent("onmessage", handleIFrameMessage);
                        }
                    </script>
                </div>
            </div>
            <div class="row" *ngIf="isWeightLoss && model && model.WeightLoss">
                <app-weight-loss-reason (onValidSumited)="onValidSubmitedHanlder($event)" [model]="model.WeightLoss"></app-weight-loss-reason>
            </div>
        </div>
        <div class="card-footer" *ngIf="!isTravelMedicine && !isCovidScreening">
            <!-- <button type="button" class="btn btn-outline-info btn-lg btn-min-width pull-left "
                (click)="prev()" *ngIf="!isTravelMedicine">{{'Previous' | translate}}</button> -->
            <button type="submit" class="btn btn-info btn-lg btn-min-width pull-right" [disabled]="!f.form.valid || !isWeightLossAnswered || (isMedicationRefill && !isAgreedMedicationRefill)">{{'Next' | translate}}</button>
        </div>
    </div>
</form>
<app-letter-medication-refill #infoModal></app-letter-medication-refill>