<div class="content-body">
    <div class="row">
      <div class="col-12">
        <div class="card" [appActionCardButton]="'Requested-Appointments1'" style="min-height: 73vh;">
          <div class="card-header">
            <h1 class="card-title title-h1">Vaccine Appointments</h1>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li>
                  <div class="col-md-12 text-right">
                    <button type="button" (click)="RefreshTable()" class="btn btn-sm btn-medical-white round">
                      Refresh
                    </button>
                  </div>
                </li>
  
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="card-content collapse show"> 
            <div class="card-body card-dashboard">
              <table
                class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle dataTable"
                [isFilter]="false" [isLengthChange]="false" appPagingTable="" [aoColumns]="aoColumns"
                [aoColumnDefs]="aoColumnDefs" [serverLink]="serverLink" [aaSorting]="aaSorting" [compRef]="compRef"
                (tableEvent)="catchTable($event)" style="width: 100%" [isRowReorder]="true" [indexColReorder]="0">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-reschedule-vaccine-appt-modal #rescheduleModal="" (onClosed)="RefreshTable()"></app-reschedule-vaccine-appt-modal>