<!-- END: Main Menu-->
<!-- BEGIN: Content-->

  <div class="content-header row">
    <div class="content-header-light col-12">
      <div class="row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <h3 class="content-header-title">{{'Edit My Profile' | translate}}</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{'Home' | translate}}</a>
                </li>
                <li class="breadcrumb-item active">{{'Edit My Profile' | translate}}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-3 col-12">
        </div>
      </div>
    </div>
  </div>

    <div class="content-body">
      <section id="patient-profile">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                  <app-edit-patient-profile [hideUser]="true"></app-edit-patient-profile>
              </div>
            </div>
          </div>
        </div>
        
      </section>
    </div>

<!-- END: Content-->