<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1"
  role="dialog" style="top: 1vh !important;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 p-3" style="max-height:80vh;overflow: auto">
            <div [innerHTML]="content"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-12 text-center">
          <button [disabled]="IsSubmitting" type="button" class="btn btn-min-width btn-medical-white mr-1"
            (click)="hide()">Cancel</button>
          <button [disabled]="IsSubmitting" type="button" class="btn btn-min-width btn-green" (click)="generatePDF()"
            *ngIf="currentUser && currentUser.Role && currentUser.Role !='Patient'">
            <span *ngIf="IsSubmitting">
              Loading...
            </span>
            <span *ngIf="!IsSubmitting">
              Generate PDF
            </span></button>
        </div>
      </div>
    </div>
  </div>
</div>