<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Ticket</h4>
                </div>
                <div class="modal-body">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Patient Name</label>
                            <ng-select name="PatientID" #PatientID="ngModel" 
                                    [(ngModel)]="model.PatientID" 
                                    [items]="userData" 
                                    bindLabel="name" 
                                    bindValue="id" 
                                    placeholder="Select a patient"
                                    required>
                            </ng-select>
                            <div class="error-message" *ngIf="f.submitted && PatientID?.errors?.required">
                                This field is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Type</label>
                            <select class="form-control" name="Type" [(ngModel)]="model.Type" #Type="ngModel" required>
                                <option value="1">Medical Questions</option>
                                <option value="2">Medicine Refill</option>
                                <option value="3">Billing</option>
                                <option value="4">Others</option>
                            </select>
                            <div class="error-message" *ngIf="f.submitted && Type?.errors?.required">
                                This field is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Priority</label>
                            <select class="form-control" name="Priority" [(ngModel)]="model.Priority" #Priority="ngModel" required>
                                <option value="1">Lowest</option>
                                <option value="2">Low</option>
                                <option value="3">Medium</option>
                                <option value="4">High</option>
                                <option value="5s">Highest</option>
                            </select>
                            <div class="error-message" *ngIf="f.submitted && Priority?.errors?.required">
                                This field is required.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn  btn-green" [disabled]="Submitting">Submit</button>
                    <button type="button" class="btn  btn-medical-white" (click)="hide()">Cancel</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>