<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',  keyboard: false}" class="modal fade" tabindex="-1"
    role="dialog">
    <div class="modal-dialog">
        <form name="form" class="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{model.ID ? 'Edit Provider Insurance':'Add Provider Insurance'}}</h4>
                </div>
                <div class="modal-body"> 
                    <div class="form-group">
                        <label>
                            Insurance:
                        </label>
                        <ng-select2 name="PVerifyPayerCode"
                            [(ngModel)]="model.PverifyPayerCode" #PVerifyPayerCode="ngModel" required [data]="payers" [options]="optionsInsurance">

                        </ng-select2>
                        <div *ngIf="
                            f.submitted && PVerifyPayerCode.errors && PVerifyPayerCode.errors.required
                          " class="col-md-12 error-message">
                            This field is required.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn  btn-green">Save</button>
                    <button type="button" class="btn  btn-medical-white" (click)="hide()">Cancel</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>